<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BLOOD DONATION CENTER</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <link rel="stylesheet" href="/static/css/common.css">

    <script src='/static/js/main.js'></script>
    <script src='/static/js/common.js'></script>
    <script src="/static/js/donarList.js"></script>
</head>
<body class="menubody" onload="">
    <div id="overlay-loader" style="display: none;">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
    <div id="main-content">
    <form action="" method="POST">
        <input type="hidden" name="userNameList"  />
        <input type="hidden" name="bloodGroupList"  />
        <input type="hidden" name="cityList" />
        <input type="hidden" name="emailList" />
        <table class="layoutMiniTable">
            <tr>
                <center>
                    <td width="100%"><label for="title" id="title" class="lbltext"><h2>Seeker Details</h2></label></td>
                </center>
            </tr>
        </table>
        <fieldset>
            <table class="layoutMiniTable">
                <tr>
                    <td width="12%"><label for="seekerRequest">Seeker Request Type:</label></td>
                    <td width="85%">
                        <select name="seekerRequest" id="seekerRequest" class="fieldinput_mandatory" onchange="enablefetchbuttons();" required>
                            <option value="" disabled selected>Select</option>
                            <option value="newRequest">New Request</option>
                            <option value="alreadyRequested">Already Requested</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="10%"><label for="seekerName" class="lbltext">Seeker Name:</label></td>
                    <td width="10%"><input type="text" id="seekerName" class="fieldinput_mandatory" name="seekerName" placeholder="Enter seeker name" required></td>
                </tr>
            </table>
            <div id="newRequestDiv">
                <table class="layoutMiniTable">
                    <tr>
                        <!-- Group city and blood group fields for easier manipulation -->
                        <td width="3%"><label for="city">City:</label></td>
                        <td width="10%"><input type="text" id="city" class="fieldinput_mandatory" name="city" placeholder="Enter City" required></td>
                    </tr>
                    <tr>
                        <td width="8%"><label for="bloodGroup">Blood Group:</label></td>
                        <td width="59%">
                        <select name="bloodgroup" id="bloodgroup" class="fieldinput_mandatory" required>
                            <option value="" disabled selected>Select</option>
                            <option value="A-">A-</option>
                            <option value="A+">A+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="requestDetailsDiv" style="display: none;">
                <table class="layoutMiniTable">
                    <tr>
                        
                        <!-- Group city and blood group fields for easier manipulation -->
                        <td width="6%"><label for="requestId" class="lbltext">Request ID:</label></td>
                        <td width="74%"><input type="text" id="requestId" class="fieldinput" name="requestId" placeholder="Enter request ID" ></td>
                        
                    </tr>
                </table>
            </div>
        </fieldset>
        <table class="layoutMiniTable">
            <tr>
                <td>
                    <button type="button" id="fetchDonartDeatails"  onclick="javascript:return (validateSeekerFetchbtn() && fetchDonors());" >Fetch Donors</button>
                </td>
                <td>
                    <button type="button" id="fetchSeekerRequestDeatails"  onclick="javascript:return (validateSeekerFetchbtn() && fetchRequestedDonors());" style="display: none;">Ftech Request Details</button>

                </td>
            </tr>
        </table>
        <div id="fetchedDonars" style="display: none;">
            <table border="1" id="donorDataTable">
                <thead>
                    <tr>
                        <th>Donar Name</th>
                        <th>Blood Group</th>
                        <th>City</th>
                        <th>Email Id</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data rows will be inserted here -->
                </tbody>

                </table>
                <table class="layoutMiniTable">
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" id="sendMailbtn" class="btnEnable" onclick="sendAllEmails();">Send Email</button>
                        </td>
                    </tr>
                </table>
        </div>

        <div id="fetchedRequestedDonars" style="display: none;">
            <table border="1" id="donorDataTable1">
                <thead>
                    <tr>
                        <th width="13%">Request Accepted</th>
                        <th>Donar Name</th>
                        <th>Blood Group</th>
                        <th>City</th>
                        <th>Email Id</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data rows will be inserted here -->
                </tbody>

                </table>
                <table class="layoutMiniTable">
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" id="sendReturnMailbtn" class="btnEnable" onclick="sendEmailsToRemaining();">Send Thanks Email</button>
                        </td>
                    </tr>
                </table>
        </div>
    </form>
</div>
</body>
</html>